 :root{
  --black: #101010;
  --white: #eaeaea;
}

.globalFooter:after {
  content: " ©2024 Máta ";
}

.footer {
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

footer {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  font-size: 0.9rem;
  color: #8a8a8a;
}

footer a {
  color: #8a8aff;
  text-decoration: none;
}
