@media screen and (max-width: 650px) {
  .project{
    max-width: 100%;
  }
}

@media screen and (max-width: 550px) {
    .nav-desktop{display: none;}
    .navbar{height: 50px;}
    .logo img{width: 40px; height: 40px;}
    .nav-mobile{display: block; object-fit: contain; float: right;}
    .links{margin: 0; background-color: #242435;}
    .contact-text{font-size: 22px;}

    .navbar.responsive-nav {position: fixed; overflow: hidden; display: block; height: auto;}
    .navbar.responsive-nav .icon {position: absolute;}
    .navbar.responsive-nav a {display: block; text-align: center; padding-left: 0; padding-right: 0;}
    .responsive-nav a {width: 100%; padding: 10px;}
    .responsive-nav .logo{padding: 0; margin-left: 10px;}
    .navbar.responsive-nav .links .nav-mobile img{margin-right: 10px;}
    .links a:hover {background-color: unset; color: unset;}
  }

  @media screen and (max-width: 510px) {
    .download-section th, .download-section td{padding: 4px;}
  }

  @media screen and (max-width: 365px) {
    .land-page-h1{font-size: 70px;}
    .group-name{font-size: 33px;}
    .about-home p{font-size: 1.2rem;}
  }
