.globalFooter:before {
  content: "©2022 Máta ";
}

.globalName:before {
  content: "Máta's web";
}

@font-face {
  font-family: "Minecraft";
  src: url('/fonts/mcFont.otf') format("opentype");
}