:root{
  --selectedColor: #eb5e28;
  --backgroundColor: #3f3e3b;
  --backgroundColorDark: #302f2f;
  --backgroundColorLight: #686868;
  --whiteColor: #fffcf2;
  --projectHeaderColor: #ff7944;
}

.globalFooter:before {
  content: "©2024 Máta ";
}

.globalName:before {
  content: "Máta's web";
}

@font-face {
  font-family: "Minecraft";
  src: url('/fonts/mcFont.otf') format("opentype");
}
