@media screen and (max-width: 510px) {
  .mobile-view {
    display: inline-block;
  }

  .desktop-view {
    display: none;
  }

  .info-box {
    font-size: 15px;
  }

  .info-box a {
    font-size: 15px;
  }

  .hi-text {
    font-size: 60px;
  }

  nav ul {
    height: auto;
  }

  .update-log a{
    font-size: 15px;
  }
  .update-log{
    font-size: 15px;
  }

  .info a{
    font-size: 17px;
  }
  .info{
    font-size: 17px;
  }
}

@media screen and (max-height: 600px) {
  .bottom-home {
    margin-bottom: 150px;
  }
}

@media screen and (max-width: 1100px) {
  .center--websites-- {
    display: unset;
  }

  .mobile-no-show--websites-- {
    margin: 0px;
    width: 0px;
    height: 0px;
    visibility: hidden;
  }
}

@media screen and (max-width: 520px) {
  button {
    width: 200px;
    font-size: 15px;
  }
}

@media screen and (max-width: 440px) {
  button {
    width: 200px;
    font-size: 12px;
  }
}