html {
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #5984b6;
  /*background: linear-gradient(to right, #006494, #0582ca);*/
  background: linear-gradient(to right, #1174a1, #9f1cc0);
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fffcf2;
}

footer {
  position: fixed;
  bottom: 0px;
  font-size: 20px;
  user-select: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

h1 {
  font-size: 45px;
}

a {
  float: left;
  width: 90px;
  height: 105px;
  display: block;
  margin: 5px 5px 5px;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 40px;
  background-size: 60px;
  position: relative;
  text-align: center;
  border-style: inset;
  border-radius: 6px;
  font-size: 15px;
  text-decoration: none;
  color: #fffcf2;
}

a:hover {
  background-color: rgba(79, 107, 121, 0.534);
}
